
# SharePoint browser cookies (คุกกี้สำหรับยืนยันตัวตน SharePoint)
SP_RTFA=

SP_FEDAUTH=


# Microsoft Graph API (Application permission: Mail.Send)
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
# Client secret value จาก Microsoft Entra App Registration
AZURE_CLIENT_SECRET=
GROUP_SENDER_EMAIL=budget_2026@muangthaiinsurance.com